* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#clock-container {
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 120px;
    font-family: sans-serif;
    font-weight: lighter;
    margin-top: 20px;
    color: rgb(235, 209, 72);
    background-color: rgb(25, 27, 41);
}

#num1 {
    margin-left: 10px;
}

#num2 {

}

#colon {
    margin-bottom: 20px;
}

#num3 {

}

#num4 {

}

#amPm {
    font-size: 15px;
    font-weight: lighter;
    padding-right: 20px;
}

#light-btn {
    position: absolute;
    transform: translate(184px, -87px)
}
