body {
    height: 100%;
    background-color: #333;
    margin: 0;
}

nav {
    height: 30px;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #eee;
    text-decoration: none;
    font-family: sans-serif;
    padding: 10px;
    font-weight: lighter;
}

nav a:visited {
    color: #eee;
}

nav p {
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
}

button#disco-btn {
    padding: 8px;
    background-color: #111;
    color: #888;
    font-family: sans-serif;
    font-weight: lighter;
    border: none;
    outline: none;
}


span#img-icon {
    padding-top: 2px;
    z-index: 2;
}

.active {
    opacity: .5;

}
